.general-page {
  padding: 250px 0px 120px 0;
  margin-top: 0;
  position: relative;
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  &:before {
    position: absolute;
    content: "";
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: #444444;
    opacity: 0.9;
  }

  .page-heading {
    h2 {
      color: $white;
    }

    ul {
      margin: 0;
    }

    ul li a {
      color: $white;
    }
  }
}

.text-muted {
  color: $brand-green !important;
  font-weight: bold;
}

.report-img {
  margin-top: 50px;
}

.pricing-page {
  ul {
    margin-left: 30px;
    font-size: 17px;
    color: $black;
    line-height: 30px;
    margin-bottom: 20px;

    li {
      margin-bottom: 10px;
    }
  }

  .price-actions {
    display: flex;

    button {
      margin-right: 10px;
    }
  }
}

