.footer {
  img {
    width: 200px;
  }

  i {
    font-size: 20px;
    vertical-align: -3px;
  }

  a {
    color: #fff !important;
  }

  .follow {
    ul {
      padding: 0;
      margin: 0;

      li {
        list-style: none;
        display: flex;
        align-items: center;
        margin-right: 10px;
        margin-top: -4px;

        span {
          margin-right: 10px;
          color: #efefef;
        }

        a {
          display: block;
          width: 40px;
          height: 40px;
          line-height: 40px;
          border-radius: 50px;
          border: 1px solid #fff;
          text-align: center;
          cursor: pointer;

          i {
            color: #fff;
          }

          &:hover {
            i {
              color: #2d88ff;
            }
          }
        }
      }
    }
  }

  .footer-text {
    color: #e6e6e6;

    a {
      color: $brand-green !important;
    }
  }
}

a.back-top {
  background: $primary-color;
  color: $white;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 5px;
  padding-top: 10px;

  i {
    color: $white;
  }
}

.widget {
  h4 {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
    font-family: $lg-font;
  }

  ul {
    margin-bottom: 0px;

    li {
      padding: 6px 0px;
      text-transform: capitalize;


      i {
        width: 25px;
        color: $primary-color;
      }
    }
  }

  ul.footer-social {
    li {
      width: 50%;
      float: left;
    }

    i {
      color: $black-light;
    }
  }

}

.footer-sub {
  input {
    margin-top: 30px;
  }

  a.btn {
    margin-top: 20px;
  }
}

#footer-2 {
  position: relative;

  &:before {
    position: absolute;
    content: "";
    right: 0px;
    top: 0px;
    height: 100%;
    width: 20%;
    // opacity: .2;
  }
}

.gallery-block {
  img {
    width: 100%;
    height: 100%;
  }
}


#footer-dark {
  background: #333333;
  font-size: 15px;
  background-size: cover;
  padding-bottom: 40px;

  .footer-widget {
    h3 {
      font-size: 22px;
      color: $white;
      font-weight: 400;
    }

    p {
      color: #efefef;
    }
  }

  .footer-contact-widget .contact-email {
    color: #ff7a5c;
  }

  .social a {
    font-size: 30px;
    color: $white;
    margin-right: 10px;
  }

  a {
    color: $white;
  }
}

.footer-newsletter {
  position: relative;

  .form-group .button {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 10px;
    border: none !important;
    background: none;
  }
}

.border-top {
  border-top: 1px solid rgba(255, 255, 255, 0.04) !important;
}


@media (max-width: 1200px) {
  #footer-dark {
    padding: 40px 10px;

    a {
      font-size: 11px;
    }
  }
}


@media (max-width: 1024px) {
  .footer img {
    width: 100%;
  }
  #footer-dark .footer-widget p {
    word-break: break-word;
  }
}

@media (max-width: 767px) {
  .footer img {
    width: 250px;
  }
  #footer-dark {
    padding: 40px 10px;

    a {
      font-size: 15px;
    }
  }
}


@media (max-width: 580px) {
  .footer {
    padding: 40px 20px;
  }
  .footer img {
    width: 200px;
  }

  .footer .footer-widget.follow {
    margin-top: 30px;
    margin-bottom: 40px;

    .text {
      display: none;
    }
  }

}

